@inherits LayoutComponentBase

    <div class="bg-home main-panel">
        <div class="content">
            @Body
        </div>
        <!-- <div class="centered">Silakan Tekan Menu yang Anda Inginkan</div> -->
    </div>
